.nav {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
}

.logout-button {
    background-color: blue;
    color: white;
    height: 36px;
    width: 120px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}